[Desktop Entry]
Name=Umbrella Dark

[Wallpaper]
defaultFileSuffix=.png
defaultWidth=3840
defaultHeight=2160

X-KDE-PluginInfo-Name=Umbrella Dark
X-KDE-PluginInfo-Author=Aikoyori Hoshihane
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY-SA-4.0
