[Desktop Entry]
Name=Wavelength

[Wallpaper]
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

X-KDE-PluginInfo-Name=Wavelength
X-KDE-PluginInfo-Author=Its-J
X-KDE-PluginInfo-License=CC-BY-SA-4.0