[Desktop Entry]
Name=Ultramarine Linux Preview

[Wallpaper]
defaultFileSuffix=.png
defaultWidth=3840
defaultHeight=2160

X-KDE-PluginInfo-Name=Blueprint
X-KDE-PluginInfo-Author=Jaiden Riordan
X-KDE-PluginInfo-Email=jade@fyralabs.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
