[Desktop Entry]
Name=Sea of Imagination Dark

[Wallpaper]
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

X-KDE-PluginInfo-Name=Sea of Imagination Dark
X-KDE-PluginInfo-Author=Aikoyori Hoshiane
X-KDE-PluginInfo-Email=aikoyori@fyralabs.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
