[Desktop Entry]
Name=Sea of Imagination

[Wallpaper]
defaultFileSuffix=.png
defaultWidth=3840
defaultHeight=2160

X-KDE-PluginInfo-Name=Sea of Imagination
X-KDE-PluginInfo-Author=Aikoyori Hoshiane
X-KDE-PluginInfo-Email=aikoyori@fyralabs.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
