[Desktop Entry]
Name=Lost Light

[Wallpaper]
defaultFileSuffix=.png
defaultWidth=3640
defaultHeight=2160

X-KDE-PluginInfo-Name=Lost Light
X-KDE-PluginInfo-Author=Aikoyori Hoshihane
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY-SA-4.0
