[Desktop Entry]
Name=Mizuki at Home

[Wallpaper]
defaultFileSuffix=.png
defaultWidth=2360
defaultHeight=1640

X-KDE-PluginInfo-Name=Mizuki at Home
X-KDE-PluginInfo-Author=Lyric Peterson
X-KDE-PluginInfo-Email=art@fyralabs.com
X-KDE-PluginInfo-License=NONE-Copyrighted
